<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Release Date</th>
      <th scope="col">Rating</th>
      <th scope="col">About></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= movie.name %></td> <!-- Nome do filme -->
      <td><%= movie.release_date.strftime('%d/%m/%Y') if movie.release_date %></td> <!-- Data de lançamento formatada -->
      <td><%= movie.rating || 'N/A' %></td> <!-- Rating com fallback para 'N/A' -->
      <td><%= link_to "Show this movie", movie %> </td>
    </tr>
  </tbody>
</table>
