<!DOCTYPE html>
<html>
<head>
    <title>Error no login.</title>
</head>
    <h1>Error</h1>
    <%= image_tag 'hilda9.png', alt: '', style: 'width: 150px; height: 150px;' %>
    <%= link_to "Try Again", root_path %>
</html>
