<!-- app/views/layouts/_header.html.erb -->
<header>
  <nav>
    <ul>
      <li><%= link_to "Home", home_homepage_path %></li>
      <li><%= link_to "New Movie", new_movie_path %></li>
      <li><%= link_to "Logout", root_path %></li>
    </ul>
  </nav>
</header>
